<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- debug/profile 매니페스트에는 자동으로 있지만 release엔 없어서,
         API 통신(dio)이 release 빌드에서만 전부 실패하지 않도록 명시합니다. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 공연후 페이지 갤러리 저장(gal), Android 10 이하용 (카메라 플러그인의 28을 덮어씀). -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:replace="android:maxSdkVersion"/>
    <application
        android:label="ticketdiary"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- adjustResize(기본값)는 키보드가 뜰 때 창 자체를 줄여
             resizeToAvoidBottomInset: false를 무력화시킴 - 창 크기를 절대
             안 건드리는 MainActivity.kt의 setDecorFitsSystemWindows(false)와
             안 부딪히게 "아무 것도 하지 마라"로 맞춰둠. -->
        <!-- main.dart의 런타임 orientation 잠금만 믿으면 큰 화면 기기에서
             무시될 수 있어 매니페스트로도 세로 고정. resizeableActivity을
             명시 안 하면 시스템이 "universal resizeable override"를 켜서
             방향 제한을 무시함(dumpsys activity activities로 확인). -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="sensorPortrait"
            android:resizeableActivity="false">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- 카카오톡 공유 카드의 "앱에서 보기" (kakao + 네이티브 앱 키).
                 TicketDiaryAndroid 키와 대표(Default) 키 둘 다 받음. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kakao66ebd719ee4ce10d2f97764064e0351b"
                    android:host="kakaolink"/>
                <data
                    android:scheme="kakao642846bcfbdf7506894415adebe24272"
                    android:host="kakaolink"/>
            </intent-filter>
            <!-- 아래 두 프로퍼티: 설정 > 앱 > 화면 비율의 "전체 화면" 옵션과
                 display 레벨 ignoreOrientationRequest(둘 다 큰 화면에서 앱의
                 방향 요청을 무시하는 시스템 정책)를 이 앱만 opt-out. 단
                 Android 17+ 큰 화면 기기는 이 opt-out 자체가 제거돼 있어
                 안 먹힘(유저가 "화면 비율"에서 직접 앱 기본값을 골라야 함,
                 developer.android.com/about/versions/17/changes/ff-restrictions-ignored). -->
            <property
                android:name="android.window.PROPERTY_COMPAT_ALLOW_USER_ASPECT_RATIO_OVERRIDE"
                android:value="false" />
            <property
                android:name="android.window.PROPERTY_COMPAT_ALLOW_ORIENTATION_OVERRIDE"
                android:value="false" />
        </activity>
        <!-- image_cropper(uCrop) 사진 편집 화면. 없으면 안드로이드에서
             크롭 화면이 열리지 않습니다. -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 인스타/X/카카오톡으로 넘기는 공유 이미지용. -->
        <provider
            android:name=".StoryFileProvider"
            android:authorities="${applicationId}.story_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/story_provider_paths"/>
        </provider>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 예매처 앱 package 지정 실행(android_intent_plus)용 - Android 11+
             패키지 가시성 제한 회피. news_detail_overlay.dart 참고. -->
        <package android:name="com.cultsotry.yanolja.nativeapp"/>
        <package android:name="com.interpark.app.ticket"/>
        <package android:name="com.yes24.ticket"/>
        <package android:name="kr.co.ticketlink.cne"/>
        <package android:name="com.iloen.melonticket"/>
        <!-- 공연후 페이지 공유: 설치된 앱 아이콘만 보여주고 바로 열기. -->
        <package android:name="com.instagram.android"/>
        <package android:name="com.twitter.android"/>
    </queries>
</manifest>
